<div class="container">
  <h1 class='text-center'>Les commandes</h1>
  <hr>
  <ul>
  <% @orders.each do |order| %>
  <li><%= link_to order.customer, order_path(order) %> - <%= order.apply_tva ? "#{order.total_ttc}Euros (TTC)" : "#{order.total_ht}Euros (HT)" %> - <%= link_to 'Modfier ma commande - ', edit_order_path(order) unless order.status == 'Terminée' || order.status == 'En cours' %> Statut: <strong><%= order.status %></strong></li>
  <% end %>
  </ul>
  <hr>
  <%= link_to 'Nouvelle commande', new_order_path, class:'btn btn-primary' %>
  <hr>
  <%= link_to 'Voir les factures', invoices_path, class:'btn btn-primary' %>
</div>
