<div class="container">
  <h1 class='text-center'>Commande numéro <%= @order.id %></h1>
  <hr>
  <h3>Client: <%= @order.customer %></h3>
  <hr>
  <ul>
  <% @order.order_products.each do |op| %>
  <li><%= "#{op.quantity} #{op.product.name.pluralize} - #{op.total_price_ht} Euros (HT) - TVA= #{op.product.tva * 100}%"%></li>
  <% end %>
  </ul>
  <hr>
  <p><%= "Sous TOTAL = #{@order.total_ht} Euros (HT) " if @order.apply_tva %></p>
  <p><%= "TOTAL = #{@order.total_ttc} Euros (TTC) " if @order.apply_tva %></p>
  <p><%= "TOTAL = #{@order.total_ht} Euros (HT) " unless @order.apply_tva %></p>

  <hr>
  <h2 class='text-center' style= "color: red;"><%= "Statut: #{@order.status}" if @order.status == "À faire"%></h2>
  <h2 class='text-center' style= "color: orange;"> <%= "Statut: #{@order.status}" if @order.status == "En cours"%></h2>
  <h2 class='text-center' style= "color: green;"><%= "Statut: #{@order.status}" if @order.status == "Terminée"%></h2>
  <% unless @order.status == 'Terminée' %>
  <hr>
    <h3>Changer etat de commande</h3>
  <%= simple_form_for(@order, url: update_status_path(@order), method: :PATCH) do |f| %>
      <div class="form-inputs">
        <%= f.input :status,
                      label: "Etat de la commande",
                      collection: ['À faire', 'En cours', 'Terminée'],
                      include_blank: false,
                      input_html: { autocomplete: "status" }%>
        </div>
      <div class="form-actions">
          <%= f.button :submit, "Modifier", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <hr>
  <%= link_to 'Retour aux commandes', orders_path, class: 'btn btn-primary' %>

</div>
